
.input-file {
  display: flex;
  justify-content: center;
  align-items: center;

  &__value[type="file"] {
    display: none;
  }
  &__label{
    cursor: pointer;
  }

  &__img {
    width: 80px;
    height: auto;
    margin: 0 0 20px;
  }
}